body{
  background-color: black;

}

#square_number{
  width: 100%;
  color: black;
  font-size: 30px;
}

#create_square{
  width: 100%;
  color: black;
  background-color: white;
  font-size: 30px;
}

#content_container{
  width: 100%;
  height:10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
}

.content_item{
  width: 300px;
}

#square_container{
  width: 80%;
  height: 100vh;
  margin: auto;
  padding-top: 10vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.square_item{
  background-color: white;
  width: 40px;
  height: 40px;
  margin: 10px;
}
